map $http_upgrade $connection_upgrade {
    default upgrade;
    ''      close;
}

server {
    listen       80;
    server_name  52.48.173.231;
    
    location / {
        return 301 https://explorer.testnet.kasplextest.xyz$request_uri;
    }
}